In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore') #Ignore warnings

In [3]:
df=pd.read_csv("internet_service_churn.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72274 entries, 0 to 72273
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           72274 non-null  int64
 1   is_tv_subscriber             72274 non-null  int64
 2   is_movie_package_subscriber  72274 non-null  int64
 3   subscription_age             72274 non-null  float64
 4   bill_avg                     72274 non-null  int64
 5   reamining_contract           50702 non-null  float64
 6   service_failure_count        72274 non-null  int64
 7   download_avg                 71893 non-null  float64
 8   upload_avg                   71893 non-null  float64
 9   download_over_limit          72274 non-null  int64
 10  churn                        72274 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 6.1 MB

In [4]:
df.drop(["id"],axis=1, inplace=True) # unnecesary column could have negative impact on predictions

In [5]:
df.describe()

,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
count,72274.000000,72274.000000,72274.000000,72274.000000,50702.000000,72274.000000,71893.000000,71893.000000,72274.000000,72274.000000
mean,0.815259,0.334629,2.450051,18.942483,0.716039,0.274234,43.689911,4.192076,0.207613,0.554141
std,0.388090,0.471864,2.034990,13.215386,0.697102,0.816621,63.405963,9.818896,0.997123,0.497064
min,0.000000,0.000000,-0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.930000,13.000000,0.000000,0.000000,6.700000,0.500000,0.000000,0.000000
50%,1.000000,0.000000,1.980000,19.000000,0.570000,0.000000,27.800000,2.100000,0.000000,1.000000
75%,1.000000,1.000000,3.300000,22.000000,1.310000,0.000000,60.500000,4.800000,0.000000,1.000000
max,1.000000,1.000000,12.800000,406.000000,2.920000,19.000000,4415.200000,453.300000,7.000000,1.000000

In [6]:
df.isnull().sum()

is_tv_subscriber                   0
is_movie_package_subscriber        0
subscription_age                   0
bill_avg                           0
reamining_contract             21572
service_failure_count              0
download_avg                     381
upload_avg                       381
download_over_limit                0
churn                              0
dtype: int64

In [7]:
# we have approximately 73k records so we can drop 381 with null value in download and upload

In [8]:
df.dropna(subset=['download_avg',"upload_avg"], inplace=True)

First, we create a new column to identify whether a contract is currently active. We label active contracts as 1, and inactive contracts as 0.

Next, we address any missing values in the remaining contract data. Specifically, we correct null values by setting them to 0. We also ensure that column naming is correct, in order to prevent any issues down the line.

In [9]:
df.insert(5, 'is_contract',None)
df["is_contract"]= df["reamining_contract"].apply(lambda x:0 if pd.isna(x) else 1)
df.loc[pd.isna(df["reamining_contract"]),"reamining_contract"]=0
df.rename(columns={"reamining_contract":"remaining_contract"}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71893 entries, 0 to 72273
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   is_tv_subscriber             71893 non-null  int64
 1   is_movie_package_subscriber  71893 non-null  int64
 2   subscription_age             71893 non-null  float64
 3   bill_avg                     71893 non-null  int64
 4   remaining_contract           71893 non-null  float64
 5   is_contract                  71893 non-null  int64
 6   service_failure_count        71893 non-null  int64
 7   download_avg                 71893 non-null  float64
 8   upload_avg                   71893 non-null  float64
 9   download_over_limit          71893 non-null  int64
 10  churn                        71893 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 6.6 MB

In [10]:
df.to_csv("cleaned_data.csv",index=False)